{% extends "base.html" %}
{% block title %}Heck Yeah, Chat!{% endblock %}


{% block body %}
<script>

    function showElem() {
        var all_cbs = document.getElementsByClassName("cbs");
        var chk = 0;
        for (var x = 0; x < all_cbs.length; x++) {
            if (all_cbs[x].checked) {
                chk++;

                if (chk >= 2) {
                    document.getElementById("form_footer").style.visibility = "visible";
                    document.getElementById("get_ids_button").disabled = false;
                    break;
                }
            }
        }
        if (chk < 2) {
            document.getElementById("form_footer").style.visibility = "hidden";
            document.getElementById("get_ids_button").disabled = true;
        }
    }

</script>
<div class="header">
    <h1>Remarkable chatting from {{ start.strftime('%b %d, %Y') }} to {{ end.strftime('%b %d, %Y') }}</h1>
    {% if search %}
    <h2>Search results for "{{ search }}"...</h2>
    <h3>Returned {{ msgs|length }} results</h3>
    {% endif %}

</div>
<div class="messages">
    <a href="{{ url_for('heckyeahchat.index') }}">
        <h2>Back to Home</h2>
    </a>
    <a href="{{ url_for('heckyeahchat.get_chats', chat_start=start|add_days(-7), chat_end=start|add_days(-1)) }}">
        <h2>&lt; Previous Week</h2>
    </a>
    <form>
        {% for msg in msgs %}
        {% if 'Bill' in msg.sender %}
        <div class="message Bill {{ msg.date_time.strftime('%a') }}" id="{{ msg.id }}">
            {% elif 'Danny' in msg.sender %}
            <div class="message Danny {{ msg.date_time.strftime('%a') }}" id="{{ msg.id }}">
                {% else %}
                <div class="message {{ msg.date_time.strftime('%a') }}" id="{{ msg.id }}">
                    {% endif %}
                    {% if search %}
                    <a
                        href="{{ url_for('heckyeahchat.get_chats', chat_start=msg.date_time.strftime('%Y-%m-%d'), chat_end=msg.date_time.strftime('%Y-%m-%d'), _anchor=msg.id) }}">
                        {% else %}
                        <input type="checkbox" class="cbs" id="cb-{{ msg.id }}" name="cbs" value="{{ msg.id }}"
                            onclick="showElem()">
                        {% endif %}
                        <p class="sender"><strong>{{ msg.sender|letters }}</strong></p>
                        {% if msg.msg_type == "image" %}
                        <img class="img_message" src="static/allo_media/{{ msg.message }}" />
                        {% else %}
                        <p class="text">{{ msg.message }}</p>
                        {% endif %}
                        <p class="time">{{ msg.date_time.strftime('%I:%M%p - %a, %b %d, %Y') }}</p>
                        {% if search %}</a>{% endif %}
                </div>
                {% endfor %}
                <a href="{{ url_for('heckyeahchat.get_chats', chat_start=end|add_days(1), chat_end=end|add_days(7)) }}">
                    <h2>Next Week &gt;</h2>
                </a>
                <div id="form_footer">
                    <input id="get_ids_button" type="submit" value="GO" accesskey="g" formmethod="GET"
                        formaction="{{ url_for('heckyeahchat.chats_by_id') }}" disabled>
                </div>
    </form>
</div>
{% endblock %}