<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    <nav>
        <a href="{{ url_for('heckyeahchat.index') }}">
            <img id="logo" src="{{ url_for('static', filename='icons/hudler.png') }}" />
        </a>
        <ul>
            {% if g.user %}

            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
            <li><a href="{{ url_for('auth.register') }}">Register</a>
                {% endif %}
        </ul>
    </nav>
</head>

<body>

    {% block body %}{% endblock %}
</body>

</html>