{% extends "base.html" %}
{% block title %} some shit {% endblock %}


{% block body %}
<div class="messages">
    {% for msg in msgs %}
    <div class="message {{ msg.sender }}">
        <p class="sender"><strong>{{ msg.sender }}</strong></p>
        {% if msg.type == "image" %}
        <img class="img_message" src="allo_media/{{ msg.text }}" />
        {% else %}
        <p class="text">{{ msg.text }}</p>
        {% endif %}
        <p class="time">{{ msg.date.strftime('%I:%M%p - %a, %b %d, %Y') }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}