body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div#search {
    max-width: 50%;
    margin: auto;
    padding: 2em;
    background-color: rgb(241, 241, 241);
}

div.header {
    text-align: center;
}

div.message {
    background-color: rgb(241, 241, 241);
    margin: 3px;
    width: 75%;
    border-radius: 10px;
    padding: 3px;
}

p {
    margin: 5px;
}

.time {
    font-size: 8pt;
    font-style: italic;
}

.text {
    font-size: 14pt;
}

div.Danny {
    background-color: rgb(212, 233, 240);
    float: left;
}

div.Bill {
    background-color: rgb(200, 252, 200);
    float: right;
}

div.Google, div.Lucky {
    float: left;
}

.img_message {
    max-width: 65%;
    padding: 5px;
}

.messages {
    max-width: 40%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}